* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background:linear-gradient(to right,rgb(0, 204, 255),white,rgb(0, 255, 255));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.topdetails {
    margin-bottom: 20px;
}

.items-container {
    background-color: rgba(255, 235, 205, 0.726);
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.image {
    width: 100px;
    height: 90px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.image:hover {
    transform: scale(1.2);
}

.text {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ae00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 60%;
    max-width: 200px;
}

.placebet {
    background-color: rgb(123, 0, 180);
    color: whitesmoke;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 0 0 5px #444;
    transition: all 0.3s ease;
}

.placebet:hover {
    background-color: rgb(46, 2, 66);
    transform: scale(1.2);
}

label{
    font-size: 2.5em;
    font-weight: 400;
} 
.balance, h1, .errors, .output {
    font-size: 1.5em;
    font-weight: 400;
}
.selected {
    border: 3px solid #ae00ff;
    background-color: rgba(255, 235, 205, 0.5);
}
